body {
  margin: 5%;
  background-color: rgb(70, 124, 168);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Content {
  width: 100%;
  height: 70%;
  padding: 4%;
  border: solid 3px;
  background-image: url('Weather-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5%;
  max-height: 700px;
  max-width: 900px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.current-city-info {
  height: 100%;
  width: 55%;
  border-right: solid rgb(185, 185, 216);
}
.weather-image-main {
  height: 100%;
  width: 100%;
}

.main-table {
  width: -webkit-fill-available;
}
.main-table h1 {
  font-family: Corbel;
  font-size: 150%;

}
.table-main h2{
  font-family: Corbel;
  font-size: 100%;
}

.image-col {
  width: 56%;
  height: 40%;
}

.table-main-other-info p{
  font-weight: bold;
  font-family: Corbel;
  font-size: 150%;
}
.next-day1 p{
  font-weight: bold;
  font-family: Corbel;
  font-size: 140%;
}
.next-day2 p{
  font-weight: bold;
  font-family: Corbel;
  font-size: 140%;
}

.table-main-other-info {
  font-family: Corbel;
  font-size: 105%;
}
.next-day1 h3{
  font-family: Corbel;
  font-size: 105%;
}
.next-day2 h3{
  font-family: Corbel;
  font-size: 100%;
}

.next-day1 {
  width: 24%;
  border-right: solid rgb(185, 185, 216);
  text-align: center;
}

.next-day2 {
  width: 30%;
  text-align: center;
}

.header {
  margin-bottom: 5%;
  text-align: center;
}
.header label {
  margin-right: 2%;
}

.header button {
  border-radius: 25%;
}

.footer {
  text-align: center;
  margin-top: 5%;
  
  height: 15%;
  width: 100%;
}

.weather-image-next-day {
  height: 100%;
  width: 100%
}

.City-info-main h1{
  font-size: 250%;
  font-family: Corbel;
}